In [2]:
import pandas as pd
from pandas import read_csv
from pandas import datetime
from pandas import DataFrame

<ipython-input-2-95605e647719>:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  from pandas import datetime

In [16]:
def parser(x):
	return datetime.strptime('196'+x, '%y-%m')
series = read_csv('C:/python/inflation_Canada.csv') 
df = pd.read_csv('C:/python/inflation_Canada.csv')

In [17]:
df.head()

       DATE     Canada
0  1/1/1961  13.428804
1  2/1/1961  13.428804
2  3/1/1961  13.377873
3  4/1/1961  13.343919
4  5/1/1961  13.259034

In [18]:
df.tail()

          DATE      Canada
718  11/1/2020  107.853473
719  12/1/2020  107.773404
720   1/1/2021  108.333889
721   2/1/2021  108.974445
722   3/1/2021  108.974445

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 723 entries, 0 to 722
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    723 non-null    object
 1   Canada  723 non-null    float64
dtypes: float64(1), object(1)
memory usage: 11.4+ KB

In [20]:
df.describe()

           Canada
count  723.000000
mean    58.516236
std     31.500928
min     13.259034
25%     24.461200
50%     67.098152
75%     86.635084
max    108.974445

In [21]:
df.isnull().sum()

DATE      0
Canada    0
dtype: int64

In [22]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
718    False
719    False
720    False
721    False
722    False
Length: 723, dtype: bool

In [23]:
dup=df.duplicated()
df[dup].sum()

DATE      0.0
Canada    0.0
dtype: float64